@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply text-black;
    }

    li::marker  {
        @apply text-red-500;
    }

    button:disabled{
        pointer-events: none;
        border-color: #C4C4C4;
        color: #C4C4C4;
    }
}
